.firstHeaderContainer{
  width: 83%;
  background-color: #2196f3;
  height: 10vh;
  margin-left: 17%;
}

.firstHeaderContent{
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.contentOne{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.contentOne .icon{
  color: #dbd8d8;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 10px;
  border-radius: 50%;
  font-size: 3em;
  margin-right: 10px;
}

.contentOne h1{
  font-size: 1em;
  color: #fff;
  font-family: sans-serif;
}

.contentTwo{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.contentTwo .icon{
  color: #fff;
  margin-left: 30px;
  cursor: pointer;
}