.mainbodyContainer {
  width: 83%;
  margin-left: 17%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  padding: 15px;
}

.mainbodyContent {
  width: 95%;
  margin: 0 auto;
  padding-top: 2.2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5%;
  height: 100%;
}

.boxContainer {
  height: 20vh;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxContainer .header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.boxContainer .header .icon {
  color: orange;
  font-size: 2em;
}

.boxContainer:nth-child(2) .header .icon {
  color: red;
}

.boxContainer:nth-child(3) .header .icon {
  color: #2196f3;
}

.boxContainer:nth-child(4) .header .icon {
  color: green;
}

.boxContainer .header .headerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.boxContainer .header .headerWrapper h1 {
  font-size: 1em;
  margin-bottom: 8px;
}

.boxContainer .header .headerWrapper p {
  font-size: 1.3em;
}

.bottomText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.bottomText .icon {
  color: #2196f3;
  margin-right: 10px;
}

.bottomText p {
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


.secondContent {
   width: 95%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr;
   gap: 5%;
   height: 100%;
 }
 

 .chartContainer{
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #fff;
   border-radius: 10px;
 }

 .chartContainer .header h1{
   font-size: 1.1em;
   color: red;
 }

 .lineChart{
   width: 100px;
   height: 900px;
   padding: 10px;
 }