.sidebarContainer {
  background-color: #fff;
  height: 100vh;
  width: 17%;
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.sidebarContent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  width: 75%;
  margin: 0 auto;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoContainer img {
  width: 40%;
  height: auto;
}

.logoContainer h1 {
  font-size: 1.1em;
  margin-top: 10px;
  font-family: sans-serif;
}

.sidebarLinks {
  padding: 10px;
  margin: 0 auto;
}

.linkContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20%;
}

.linkContainer .icon {
  margin-right: 10px;
}

.linkContainer a {
  font-size: 1.1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  color: #0f3834;
}

.contentTwo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.signOutButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5a826;
  padding: 20px;
  color: #fff;
  border-radius: 7px;
  width: 100%;
}

.signOutButton .icon {
  margin-right: 10px;
}

.signOutButton h1 {
  font-size: 1.1em;
  font-family: sans-serif;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
