.feeContainer {
  width: 77%;
  margin-left: 20%;
  margin-top: 1%;
}

.feeContainerItems {
  width: 100%;
  padding: 10px;
  margin: 1% auto;
  border: 1px solid #191970;
  border-radius: 10px;
}

.feeContainerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feeContainerHeader h1 {
  font-size: 20px;
}

.feeContainerBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1%;
}

.feeContainerBodyHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 500px;
}

.feeContainerBodyHeader h1 {
  font-size: 20px;
}

.feeContainerBodyHeader h1:nth-child(2) {
  color: red;
}

.feeContainerBodyHeader h1:nth-child(1) {
  color: green;
}

.addPaymentContainer {
  margin-top: 2%;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.field input {
  margin-top: 20px;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #aeaeae;
  padding-left: 10px;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.submitBtn button {
  background-color: #0b1e1c;
  border: none;
  padding: 10px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
}

.paymentsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1%;
}

.paymentHistory {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}

.paymentHistory h1 {
  font-size: 15px;
}

.paymentHistoryFields {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 2%;
}

.paymentDate {
  display: flex;
  flex-direction: column;
}

.paymentDate label {
  margin-bottom: 10px;
  color: orange;
  font-size: 1em;
}

.paymentDate h1,
.paymentDate input {
  border: 1px solid #aeaeae;
  border-radius: 10px;
  padding: 8px;
  font-size: 15px;
  font-weight: 100;
  width: 100%;
  height: 55px;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentActions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentActions button {
  width: 100px;
  background-color: #aeaeae;
  border: none;
  font-weight: 900;
  height: 40px;
  padding: 10px;
  margin: 10px;
}

.receiptContainer{
  background-color: #fff;
  width: auto;
  height: auto;
  position: fixed;
  top: 17%;
  left: 40%;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.receiptHeader{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.receiptHeader h1{
  font-family: sans-serif;
  font-size: 1.5em;
}

.schName{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3%;
}

.schName h1{
  font-size: 1.3em;
  font-family: serif;
}

.receiptInformation{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 5%;
}

.receiptInformation .info{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10%;
}

.receiptInformation .info label{
  font-size: 0.9em;
  color: #797878;
  font-weight: 100;
  text-transform: uppercase;
}

.receiptInformation .info h1{
  font-size: 1.3em;
  font-family: serif;
  font-weight: 100;
  margin-top: 5px;
}

.receiptButton{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.receiptButton button{
  width: 100px;
  height: 50px;
  margin: 10px;
  background-color: #000;
  color: #fff;
  font-size: 1.1em;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .feeContainerItems {
    width: 80%;
    height: 75vh;
  }
}
