.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}

.loginContent {
  width: 20%;
  height: auto;
  padding: 15px;
}

.loginContentHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContentHeader h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: 800;
}

.inputField {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.inputField input {
  background-color: #e6e6e6;
  width: 100%;
  height: 60px;
  border: none;
  padding-left: 15px;
  border-radius: 1px;
  color: #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
}

.inputField input:focus {
  outline: none;
}

.actionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3%;
}

.rememberMe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rememberMe input {
  margin-right: 6px;
}

.rememberMe p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  color: #000;
}

.forgetPassword {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.forgetPassword p {
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
  cursor: pointer;
}

.submitButton {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 1px;
  text-transform: uppercase;
  background-color: #c99b2c;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

@media (max-width: 600px) {
  .loginContent {
    width: 90%;
  }

  .loginContentHeader h1 {
    font-size: 1em;
  }

  .inputField input {
    height: 60px;
    font-size: 0.9em;
  }

  .actionsContainer {
    margin-top: 5%;
  }

  .rememberMe p {
    font-size: 0.9em;
    font-weight: 500;
  }

  .forgetPassword p {
    font-size: 0.9em;
    font-weight: 700;
    color: #c99b2c;
  }

  .submitButton {
    margin-top: 13%;
  }

  .submitButton button {
    width: 100%;
    height: 55px;
    font-size: 0.9em;
  }
}
