.firstContainer {
  width: 100%;
  background-color: #00000031;
  box-shadow: 0px 0px 20px #ffffff1f;
}

.firstContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 80%;
  margin: 0% auto;
  padding: 8px;
}

.schoolLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.schoolLogo .logo {
  width: 35%;
  height: auto;
}

.searchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.searchInput input {
  width: 100%;
  height: 50px;
  background-color: #ffffff31;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  color: #000;
}

.searchInput .SearchIcon {
  position: relative;
  margin-left: -10%;
  color: #00000031;
}

.notificationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.notificationContainer .NotificationsIcon {
  font-size: 2em;
  color: #fff;
}

.notificationContainer h1 {
  color: #fff;
  background-color: #c99b2c;
  border-radius: 50%;
  font-size: 1em;
  display: flex;
  padding: 7px;
  height: 22px;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(50%, -55%);
}

.welcomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ccc;
}

.welcomeContainer h1:nth-child(1) {
  font-size: 1em;
  margin-right: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.welcomeContainer h1:nth-child(2) {
  font-size: 1.1em;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-right: 3px solid #000;
  animation: blink 0.75s step-end infinite;
  border-right-color: #c99b2c;
}

.userProfile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userProfile .userPhoto {
  width: 20%;
  height: auto;
  border-radius: 50%;
}

.userProfile .KeyboardArrowDownIcon {
  font-size: 2em;
  color: #ccc;
}

.logoutContainer {
  display: none;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 700px) {
  .logoutContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .searchInput {
    display: none;
  }

  .notificationContainer {
    display: none;
  }

  .welcomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .welcomeContainer h1:nth-child(1) {
    font-size: 15px;
    margin-right: 0px;
  }

  .welcomeContainer h1:nth-child(2) {
    font-size: 0.8em;
    font-weight: 100;
    font-weight: 700;
  }

  .firstContent {
    grid-template-columns: 1fr 1fr 1fr;
    width: 96%;
  }

  .schoolLogo .logo {
    width: 50%;
    height: auto;
  }

  .userProfile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .userProfile .userPhoto {
    width: 45%;
  }

  .userProfile .KeyboardArrowDownIcon {
    font-size: 25px;
  }
}
