.classScoreContainer {
   width: 77%;
   margin-left: 20%;
   margin-top: 1%;
}

.classScoreItems {
   width: 80%;
   height: 70vh;
   padding: 10px;
   margin: 1% auto;
   border: 1px solid #191970;
   border-radius: 5px;
}

.subjectHeader {
   display: flex;
   justify-content: center;
   align-items: center;
}

.subjectHeader h1 {
   font-size: 20px;
}

.subjectScores {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1.5%;
}

.scores {
   margin-top: 10px;
   font-weight: 600;
}

.subjName {
   display: flex;
   margin-bottom: 10px;
   justify-content: center;
   align-items: center;
}

.subjName span {
   font-size: 15px;
   margin-right: 10px;
   color: orange;
}

.subjName select {
   width: 200px;
   height: 40px;
   border-radius: 10px;
}

.subjDate {
   display: flex;
   margin-bottom: 10px;
   justify-content: flex-start;
   align-items: center;
}

.subjDate span {
   color: orange;
   margin-right: 10px;
   font-size: 15px;
}

.subjDate input {
   width: 200px;
   height: 40px;
   border-radius: 10px;
   border: 1px solid #aeaeae;
}

.subjScore {
   display: flex;
   margin-bottom: 10px;
   justify-content: flex-start;
   align-items: center;
}

.subjScore span {
   color: orange;
   margin-right: 10px;
   font-size: 15px;
}

.subjScore input {
   width: 200px;
   height: 40px;
   border-radius: 10px;
   border: 1px solid #aeaeae;
}

.addScoreBtnContainer {
   display: flex;
   justify-content: center;
   align-items: center;
}

.addBtn {
   display: flex;
   justify-content: center;
   align-items: center;
}


.addScoreBtnContainer button {
   width: 150px;
   height: 45px;
   background-color: green;
   color: #fff;
   border-radius: 5px;
   border: none;
}

.addScoreBtnContainer button:nth-child(2) {
   width: 150px;
   height: 45px;
   background-color: #000;
   color: #fff;
   border-radius: 5px;
   border: none;
   margin-left: 10px;
}

@media (max-width: 700px) {
   .classScoreContainer {
      width: 99%;
      margin: 0% auto;
   }

   .classScoreItems {
      width: 100%;
      height: 80vh;
      overflow-y: scroll;
   }

   .subjectHeader {
      margin-top: 15px;
   }

   .subjectHeader h1 {
      font-size: 1em;
   }

   .subjName span {
      font-size: 15px;
      margin-right: 10px;
      color: orange;
   }

}