.classScoreContainer {
   width: 77%;
   margin-left: 20%;
   margin-top: 1%;
}

.classScoreItems {
   width: 60%;
   height: 70vh;
   padding: 10px;
   margin: 1% auto;
   border: 1px solid #191970;
   border-radius: 20px;
}

.subjectHeader {
   display: flex;
   justify-content: center;
   align-items: center;
}

.subjectHeader h1 {
   font-size: 20px;
}

.subjectScores {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1.5%;
}

.scores {
   margin-top: 10px;
   font-weight: 600;
}

.subjName {
   display: flex;
   margin-bottom: 10px;
   justify-content: center;
   align-items: center;
}

.subjName span {
   font-size: 15px;
   margin-right: 10px;
   color: orange;
}

.subjName select {
   width: 200px;
   height: 40px;
   border-radius: 10px;
}

.subjDate {
   display: flex;
   margin-bottom: 10px;
   justify-content: flex-start;
   align-items: center;
}

.subjDate span {
   color: orange;
   margin-right: 10px;
   font-size: 15px;
}

.subjDate input {
   width: 200px;
   height: 40px;
   border-radius: 10px;
   border: 1px solid #aeaeae;
}

.subjScore {
   display: flex;
   margin-bottom: 10px;
   justify-content: flex-start;
   align-items: center;
}

.subjScore span {
   color: orange;
   margin-right: 10px;
   font-size: 15px;
}

.subjScore input {
   width: 200px;
   height: 40px;
   border-radius: 10px;
   border: 1px solid #aeaeae;
}

.addScoreBtnContainer {
   display: flex;
   justify-content: center;
   align-items: center;
}

.addBtn {
   display: flex;
   justify-content: center;
   align-items: center;
}


.addScoreBtnContainer button {
   width: 150px;
   height: 45px;
   background-color: green;
   color: #fff;
   border-radius: 20px;
   border: none;
}

.addScoreBtnContainer button:nth-child(2) {
   width: 150px;
   height: 45px;
   background-color: yellow;
   color: #000;
   border-radius: 20px;
   border: none;
   margin-left: 10px;
}

@media (max-width: 700px) {
   .classScoreItems {
      width: 90%;
      height: 70vh;
   }

   .addScoreBtnContainer button {
      width: 100px;
      height: 40px;
   }

   .addScoreBtnContainer button:nth-child(2) {
      width: 100px;
      height: 40px;
      background-color: yellow;
      color: #000;
      border-radius: 20px;
      border: none;
      margin-left: 10px;
   }

   .subjectHeader {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .subjectHeader h1{
      font-size: 13px;
      color: orange;
   }

}