.container {
   width: 100%;
   width: 80%;
   margin: 3% auto;
}

.containerItems {
   margin-left: 19%;
}

.containerHeader {
   width: 70%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr auto;
}

.containerHeader h1:nth-child(1) {
   font-size: 15px;
   cursor: pointer;
}

.containerHeader h1:nth-child(2) {
   font-size: 15px;
   cursor: pointer;
}

.inputFields {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 10%;
}

.fields{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 30px;
}

.field{
   display: flex;
   flex-direction: column;
}
.field input{
   width: 300px;
   height: 40px;
   border-radius: 20px;
   border: 1px solid #aeaeae;
}

.field input::placeholder{
   padding-left: 15px;
}

.field label{
   font-size: 15px;
   margin-bottom: 5px;
   color: orange;
}

.anotherinput{
   display: flex;
   flex-direction: column;
   margin-top: 3%;
}

.anotherinput textarea{
   width: 300px;
   height: 50px;
   border-radius: 20px;
   border: 1px solid #aeaeae;
   padding: 10px;
}

.anotherinput label{
   font-size: 15px;
   margin-bottom: 5px;
   color: orange;
}