.profileContainer {
  height: 100vh;
  width: 85%;
  margin-left: 15%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 400;
  position: absolute;
  background-color: #ebecf1;
}

.profileContent {
  width: 90%;
  height: auto;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profileHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-top: 2%;
}

.backButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.backButton .button {
  background-color: #250035;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  padding: 8px;
  color: #fff;
  cursor: pointer;
}

.backButton .button h1 {
  font-size: 0.9em;
  font-family: sans-serif;
}

.profileNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2%;
}

.profileNavigation .link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profileNavigation .link {
  background-color: #fff;
  width: 150px;
  height: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.profileNavigation .activeLink {
  background-color: #000;
  color: #fff;
  width: 150px;
  height: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.profileNavigation .activeLink .h1 {
  color: #fff;
}

.profileNavigation .link h1 {
  font-size: 0.72em;
  font-weight: 900;
  color: #000;
  font-family: sans-serif;
  text-transform: uppercase;
}

.studentProfile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-top: 2%;
}

.studentPhoto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.studentPhoto img {
  width: 40%;
  border-radius: 50%;
  height: auto;
}

.studentName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.studentName h1 {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid #c99b2c;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.editContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.editContainer .edit {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.editContainer .edit p {
  font-size: 1em;
  font-family: sans-serif;
  font-weight: 700;
}

.editContainer .edit .editIcon {
  font-size: 1.1em;
  margin-right: 8px;
  color: #c99b2c;
}

.saveChangesButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.saveChangesButton button {
  background-color: #dedede;
  color: rgba(159, 159, 159, 1);
  font-size: 1em;
  font-weight: 700;
  width: 151px;
  height: 53px;
  border: none;
}

.saveChangesButton .saveChangesButtonActive {
  background-color: #250035;
  color: #fff;
}

.classScoreItems {
  width: 80%;
  height: auto;
  padding: 20px;
  margin: 0% auto;
}

.termSelection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.termSelection label {
  font-size: 1em;
  font-family: sans-serif;
}

.termSelection select {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
}

.subjectHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.subjectHeader h1 {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #000;
}

.subjectScores {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.scoresContainer {
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 13px;
}

.scoresContainer h1:nth-child(1) {
  font-size: 1em;
  font-weight: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
}

.scoresContainer h1:nth-child(2) {
  font-size: 1em;
  font-weight: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
}

.scoresContainer button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b1e1c;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.selectSubjectBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectSubjectBtn button {
  width: auto;
  height: 50px;
  border: none;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
}

.chooseSubjectContainer {
  width: 500px;
  z-index: 900;
  height: auto;
  background-color: #0b1e1c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.5);
}

.chooseSubjectContainer h2 {
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.1em;
}

.buttonContent {
  display: grid;
  gap: 10px;
  width: 80%;
  margin: 1em auto;
}

.buttonContent button {
  height: 35px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.buttonContent button:hover {
  background-color: #0b1e1c;
  color: #fff;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton button {
  width: 40%;
  height: 40px;
  background-color: red;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .profileContainer {
    width: 100%;
    height: auto;
    margin-left: 0;
    z-index: 900;
  }

  .profileContent {
    width: 95%;
    padding-top: 10px;
  }

  .profileHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .backButton .button {
    height: 40px;
    padding: 3px;
  }

  .backButton .button h1 {
    font-size: 0.8em;
    font-family: sans-serif;
  }

  .profileNavigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .profileNavigation .link {
    width: auto;
    height: 40px;
  }

  .profileNavigation .link h1 {
    font-size: 0.65em;
  }

  .studentProfile {
    grid-template-columns: 1fr 1fr;
    margin-top: 10%;
  }

  .studentName {
    display: none;
  }

  .editContainer .edit p {
    font-size: 0.9em;
  }

  .editContainer .edit .editIcon {
    font-size: 1em;
    margin-right: 1px;
  }

  .saveChangesButton {
    margin-left: 10px;
  }
  .saveChangesButton button {
    font-size: 0.9em;
    width: 100%;
    height: 40px;
    padding: 6px;
    border: none;
  }

  .classScoreItems {
    width: 100%;
    padding: 0;
    margin-top: 10%;
    height: auto;
  }

  .termSelection label {
    font-size: 0.8em;
    font-weight: 800;
  }

  .termSelection select {
    margin-left: 4px;
    width: 90px;
    height: 30px;
    border: none;
  }

  .subjectHeader {
    margin-top: 5%;
  }

  .subjectHeader h1 {
    font-size: 0.8em;
    font-weight: 800;
  }

  .subjectScores {
    margin-top: 1%;
  }

  .scoresContainer {
    font-weight: 600;
    gap: 30px;
    margin-top: 1%;
  }

  .scoresContainer h1:nth-child(1) {
    font-size: 0.7em;
  }

  .scoresContainer h1:nth-child(2) {
    font-size: 0.7em;
  }

  .scoresContainer button {
    height: 40px;
    width: 100%;
    font-size: 0.8em;
  }

  .selectSubjectBtn {
    margin-top: 6%;
  }

  .selectSubjectBtn button {
    display: flex;
    font-size: 0.75em;
  }

  .chooseSubjectContainer {
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 15px;
    border-radius: 10px;
  }
  
  .chooseSubjectContainer h2 {
    font-size: 1em;
  }
  
}
