.mainbodyContainer {
  width: 85%;
  height: 82vh;
  background-color: #000;
  margin-left: 15%;
  padding-top: 10px;
}

.mainbodyContent {
  width: 95%;
  margin: 0 auto;
}

.boxesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.boxesContainer .box {
  height: auto;
  box-shadow: 0px 0px 5px #545454;
  border-radius: 10px;
  padding: 20px;
}

.box .boxHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box .boxHeader .icon {
  color: #000;
  font-size: 3em;
  background-color: #c2c2c2;
  margin-right: 15px;
}

.box .boxHeader .descriptions {
  display: flex;
  flex-direction: column;
}

.box .boxHeader .descriptions p {
  color: #c2c2c2;
  margin-bottom: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.box .boxHeader .descriptions h1 {
  color: #c2c2c2;
  font-size: 1em;
  font-family: sans-serif;
}

.lineContainer {
  border-bottom: 1px solid #404040;
  margin-top: 30px;
}

.activePeople {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}

.activePeople p {
  color: #c2c2c2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  margin-bottom: 5px;
}

.activePeople h1 {
  color: #c99b2c;
  font-family: sans-serif;
  font-size: 1em;
}

.bottomContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.bottomContainer .box:nth-child(1) {
  width: 100%;
  height: 35vh;
  box-shadow: 0px 0px 4px #545454;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomContainer .box .calendar {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #d0d0d0;
  color: #131022;
}

.bottomContainer .box:nth-child(2) {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 4px #545454;
  border-radius: 5px;
  padding: 10px;
}

.boxHeader {
  display: flex;
}

.boxHeader h1 {
  font-size: 1em;
  color: #c99b2c;
}

.listContainer {
  margin-top: 20px;
}

.listContainer h1 {
  color: #c2c2c2;
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .mainbodyContainer {
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding-top: 20px;
  }

  .boxesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .boxesContainer .box {
    height: auto;
    box-shadow: 0px 0px 5px #545454;
    border-radius: 10px;
    padding: 5px;
  }

  .box .boxHeader .icon {
    font-size: 2em;
    margin-right: 8px;
    color: #c99b2c;
    background: none;
  }

  .box .boxHeader .descriptions p {
    font-size: 0.8em;
    margin-bottom: 5px;
  }

  .box .boxHeader .descriptions h1 {
    color: #c2c2c2;
    font-size: 0.8em;
  }

  .lineContainer {
    margin-top: 15px;
  }

  .activePeople {
    margin-top: 15px;
  }

  .activePeople p {
    font-size: 0.8em;
    margin-bottom: 5px;
  }
  
  .activePeople h1 {
    color: #c2c2c2;
    font-size: 0.8em;
  }

  .bottomContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .bottomContainer .box:nth-child(1) {
    width: 100%;
    height: auto;
  }

  .boxHeader h1 {
    font-size: 0.9em;
    color: #c99b2c;
  }
  
  .listContainer {
    margin-top: 10px;
  }

  .listContainer h1 {
    font-size: 0.85em;
    margin-top: 10px;
  }
}
