/* firstHeading.module.css */

.secondHeadingContainer {
   background-color: #fff;
   height: 100%;
  }
  .assestInSecondHeading{
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
    gap: 50px;
    padding: 15px;
  }
  
  .searchStudentContainer {
    display: flex;
    align-items: center;
    margin-left: 22%;
  }
  .searchStudentContainer h1{
    font-size: 20px;
    font-weight: 100;
  }
  .searchStudentContainer .SearchIcon{
   margin-left: 1%;
   position: absolute;
  }
 
  .searchStudentContainer input{
    color: #000;
    font-size: 17px;
    width: 400px;
    height: 5vh;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
  }
  .searchStudentContainer input::placeholder{
   font-weight: 100;
   font-family: sans-serif;
   font-style: italic;
  }
  
  .adminSetting {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .addStudentContainer{
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .addStudentContainer h1{
   font-size: 17px;
   font-weight: 100;
  }

  .sortStudentContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 5vh;
   padding: 2px;
   border-radius: 5px;
  }

  .sortStudentContainer .SortIcon{
   color: #fff;
  }

  .sortStudentContainer h1{
   font-size: 17px;
   color: #fff;
  }

  @media (max-width: 700px) {
    
  }