.sidebarContainer {
  background-color: #131022;
  height: 100vh;
  border-right: 1px solid #545454;
  width: 15%;
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.sidebarContent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 15px;
}

.schoolLogo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.iconContainer {
  color: #c2c2c2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.schoolLogo img {
  width: 55%;
  height: auto;
}

.schoolName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.schoolName h1 {
  color: #c2c2c2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

.createStudent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  height: 50px;
  background-color: #62616930;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.createStudent .icon {
  color: #c2c2c2;
  margin-right: 10px;
}

.createStudent h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #c2c2c2;
}

.navigationLinkContainer {
  margin-top: 50px;
}

.linkContainer {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  margin-top: 50px;
  cursor: pointer;
}

.linkContainer .icon {
  color: #c2c2c2;
}
.linkContainer .icon2 {
  color: #c99b2c;
}

.linkContainer h1 {
  color: #c2c2c2;
  font-size: 1em;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.secondContent{
  display: flex;
  align-items: center;
  height: auto;
}

.logoutContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.logoutContainer .icon{
  margin-right: 10px;
  color: #c2c2c2;
}
.logoutContainer h1{
  font-size: 1em;
  color: #c2c2c2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}