.studentProfilePageContainer {
   display: grid;
   grid-template-columns: 1fr 3fr;
   position: absolute;
   width: 76%;
   top: 10;
   right: 0;
   margin: 3% 4%;
}

.navigationContainer {
   width: 250px;
   height: 700px;
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   background-color: #fff;
   margin-right: 5px;
   border-radius: 20px;
}

.studentPhoto {
   display: flex;
   justify-content: center;
   align-items: center;
}

.stundentName {
   display: flex;
   justify-content: center;
   align-items: center;
}

.stundentName h1 {
   font-size: 13px;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
}

.studentNavLinks {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

.studentNavLinks ul {
   list-style: none;
}

.studentNavLinks ul li {
   margin-top: 10px;
   text-transform: uppercase;
}

.studentNavLinks ul li button {
   width: 200px;
   height: 50px;
   border-radius: 10px;
   border: none;
   cursor: pointer;
   text-transform: uppercase;
   text-align: left;
   padding: 10px;
   font-size: 12px;
}

.studentNavLinks ul li button:hover {
   color: #4070f4;
   cursor: pointer;
}

.backToList {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20%;
}

.backToList button {
   width: 140px;
   height: 40px;
   border-radius: 6px;
   background: royalblue;
   color: #fff;
   outline: none;
   border: none;
   cursor: pointer;
}

.studentFeesContainer{
   width: 100%;
   height: 100%;
}

.studentFeesHeader{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 30px;
}

.header1{
   display: flex;
   flex-direction: column;
}

.header1 label{
   font-size: 12px;
   text-transform: uppercase;
   margin-bottom: 7px;
}


.header1 h1{
   border: 1px solid #aeaeae;
   border-radius: 10px;
   padding: 10px;
   font-size: 12px;
   text-transform: uppercase;
}

.header2 h1{
   border: 1px solid #aeaeae;
   border-radius: 10px;
   padding: 10px;
   font-size: 12px;
   text-transform: uppercase;
}

.header2 label{
   font-size: 12px;
   text-transform: uppercase;
   margin-bottom: 7px;
}
.paymentHistory{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 5%;
}

.paymentHistory h1{
   font-size: 14px;
   text-transform: uppercase;
}

.paymentHistoryFields{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 30px;
   margin-top: 2%;
}

.paymentDate{
   display: flex;
   flex-direction: column;
}

.paymentDate label{
   margin-bottom: 10px;
   color: orange;
   font-size: 15px;
}

.paymentDate h1{
   border: 1px solid #aeaeae;
   border-radius: 10px;
   padding: 10px;
   font-size: 15px;
   font-weight: 100;
}