.studentProfilePageContainer {
  width: 85%;
  margin-left: 15%;
  z-index: 900;
  position: absolute;
  margin-top: 13%;
}

.studentFeesContainer {
  width: 80%;
  margin: 0 auto;
}

.studentFeesHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 2%;
}

.header1 {
  display: flex;
  flex-direction: column;
}

.header1 label {
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.header1 h1 {
  border: 1px solid #aeaeae;
  border-radius: 10px;
  padding: 15px;
  font-size: 1em;
  text-transform: uppercase;
  font-family: sans-serif;
  width: 180px;
  text-align: center;
}

.header2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.header2 h1 {
  border: 1px solid #aeaeae;
  border-radius: 10px;
  padding: 15px;
  font-size: 1em;
  text-transform: uppercase;
  font-family: sans-serif;
  width: 180px;
  text-align: center;
}

.header2 label {
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.paymentHistory {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}

.paymentHistory h1 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.paymentHistoryFields {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 2%;
}

.paymentDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.paymentDate label {
  margin-bottom: 10px;
  color: orange;
  font-size: 1em;
}

.paymentDate h1 {
  border: 1px solid #aeaeae;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 100;
  width: 180px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
