.studentProfilePageContainer {
  width: 77%;
  margin-left: 20%;
  margin-top: 1%;
}

.attendanceContainer {
  width: 100%;
}

.attendanceBody {
  width: 80%;
  margin: 0 auto;
}


.attendanceHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 15px;
}

.attendanceHeader h1 {
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.attendanceName {
  margin-bottom: 10px;
}
.attendanceName h1 {
  font-size: 20px;
}

.attendanceTable table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.attendanceTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 100;
  font-family: sans-serif;
  text-align: center;
}

.attendanceTable th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 1em;
  color: #0b1e1c;
  text-transform: uppercase;
  text-align: center;
}

.attendanceTable tr:nth-child(even) {
  background-color: #dddddd;
}
