.studentProfilePageContainer {
  width: 77%;
  margin-left: 20%;
  margin-top: 1%;
}

.attendanceContainer {
  width: 100%;
}

.attendanceBody {
  width: 100%;
}

.attendanceHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 10px;
}

.attendanceHeader h1 {
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: 700;
}

.attendanceName {
  margin-bottom: 10px;
}
.attendanceName h1 {
  font-size: 20px;
}

.attendanceTable table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.attendanceTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  font-size: 1em;
  font-weight: 600;
}

.attendanceTable th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: orange;
  font-size: 1em;
}

.attendanceTable tr:nth-child(even) {
  background-color: #dddddd;
}

.chooseDateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chooseDateContainer input {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}
