.studentProfilePageContainer {
   display: grid;
   grid-template-columns: 1fr 3fr;
   position: absolute;
   width: 76%;
   top: 10;
   right: 0;
   margin: 3% 4%;
}

.navigationContainer {
   width: 250px;
   height: 700px;
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   background-color: #fff;
   margin-right: 5px;
   border-radius: 20px;
}

.studentPhoto {
   display: flex;
   justify-content: center;
   align-items: center;
}

.stundentName {
   display: flex;
   justify-content: center;
   align-items: center;
}

.stundentName h1 {
   font-size: 13px;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;

}

.studentNavLinks {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

.studentNavLinks ul {
   list-style: none;
}

.studentNavLinks ul li {
   margin-top: 10px;
   text-transform: uppercase;
}

.studentNavLinks ul li button {
   width: 200px;
   height: 50px;
   border-radius: 10px;
   border: none;
   cursor: pointer;
   text-transform: uppercase;
   text-align: left;
   padding: 10px;
   font-size: 12px;
}

.studentNavLinks ul li button:hover {
   color: #4070f4;
   cursor: pointer;
}

.backToList {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20%;
}

.backToList button {
   width: 140px;
   height: 40px;
   border-radius: 6px;
   background: #f5a826;
   color: #fff;
   outline: none;
   border: none;
   cursor: pointer;
}

.studentProfileDetailsContainer {
   width: 100%;
   height: 100%;
}

.studentProfileFields {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 40px;
}

.fields {
   display: flex;
   flex-direction: column;
}

.fields label {
   margin-bottom: 10px;
   font-size: 15px;
   color: #f5a826;
   font-weight: 300;
}

.fields h1 {
   border: 1px solid #aeaeae;
   border-radius: 10px;
   padding: 20px;
   font-size: 14px;
   font-weight: 100;
   text-transform: uppercase;
}

.buttons{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-top: 3.5%;
}

.buttons button:nth-child(1){
   background-color: #f5a826;
   padding: 10px;
   width: 200px;
   height:60px;
   border: none;
   border-radius: 10px;
   color: #fff;
}

.buttons button:nth-child(2){
   background-color: #001f3f;
   padding: 10px;
   width: 200px;
   height: 60px;
   margin-left: 15px;
   border: none;
   border-radius: 10px;
   color: #fff;
}