.container{
   width: 85%;
   margin-left: 15%;
}

.containerItems{
   width: 85%;
   margin: 0% auto;
}

.containerHeader{
   display: grid;
   grid-template-columns: 1fr;
}


.containerHeader h1:nth-child(1){
   font-size: 1.1em;
   display: flex;
   justify-content: flex-end;
   align-content: center;
   text-transform: uppercase;
   color: #f5a826;
   font-weight: 600;
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
}

.inputFieldsContainer{
   width: 60%;
   margin: 4% auto;
}

.inputFields{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 30px;
}

.field{
   display: flex;
   flex-direction: column;
}

.field label{
   margin-bottom: 10px;
   font-size: 14px;
}

.field input{
   height: 70px;
   border-radius: 10px;
   border: 1px solid #aeaeae;
   padding: 10px;
}

.field select{
   height: 70px;
   border-radius: 10px;
   border: 1px solid #aeaeae;
   padding: 10px;
}

.submitBtn{
   display: flex;
   justify-content: center;
   align-items: center;
}

.submitBtn button {
   padding: 10px;
   width: 100px;
   border-radius: 10px;
   border: 1px solid #aeaeae;
}

.navigateContainer{
   width: 30%;
   margin: 2% auto;
}

.buttons{
   display: flex;
   justify-content: center;
   align-items: center;
}

.buttons button{
   margin: 10px;
}

.buttons button:nth-child(1){
   width: 200px;
   height: 60px;
   border-radius: 10px;
   background-color: #001f3f;
   color: #fff;
   border: none;
}

.buttons button:nth-child(2){
   width: 200px;
   height: 60px;
   border-radius: 10px;
   background-color: #f5a826;
   color: #fff;
   border: none;
}