.container {
   width: 85%;
   margin-left: 15%;
   height: 82vh;
   background-color: #000;
 }
 
 .containerItems {
   width: 95%;
   margin: 0% auto;
   padding-top: 15px;
 }
 
 .inputFieldsContainer {
   width: 70%;
   margin: 0% auto;
 }
 
 .inputFields {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
 }
 
 .field {
   display: flex;
   flex-direction: column;
 }
 
 .field label {
   margin-bottom: 10px;
   font-size: 1em;
   color: #aeaeae;
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
 }
 
 .field input {
   height: 90px;
   border-radius: 10px;
   border: 1px solid #313131;
   background: none;
   padding: 10px;
   color: #aeaeae;
   font-size: 1.1em;
 }
 
 .field input::placeholder{
    font-size: 0.8em;
 }
 
 .field input:focus {
   outline: none;
 }
 
 .field select {
   height: 90px;
   border-radius: 10px;
   border: 1px solid #313131;
   background: none;
   padding: 10px;
 }
 
 .navigateContainer {
   width: 100%;
   margin: 2% auto;
 }
 
 .buttons {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .buttons button {
   margin: 10px;
   cursor: pointer;
 }
 
 .buttons button:nth-child(1) {
   width: 100%;
   height: 85px;
   border-radius: 10px;
   background-color: #f5a826;
   color: #fff;
   border: none;
   font-weight: 800;
   font-size: 1em;
   cursor: pointer;
 }
 
 .buttons button:nth-child(2) {
   width: 100%;
   height: 85px;
   border-radius: 10px;
   background-color: #f5a826;
   color: #fff;
   border: none;
   font-size: 1em;
   font-weight: 800;
   cursor: pointer;
 }
 
 @media (max-width: 600px) {
   .container {
     width: 100%;
     height: 100%;
     margin-left: 0;
   }
 
   .inputFieldsContainer {
     width: 100%;
     margin: 0% auto;
   }
 
   .field label {
     margin-bottom: 8px;
     font-size: 0.8em;
     color: #aeaeae;
   }
 
   .field input {
     height: 60px;
     width: 100%;
     padding: 5px;
   }
 }
 