.container{
   width: 85%;
   margin-left: 15%;
   background-color: #fff;
}

.containerItems{
   width: 85%;
   margin: 3% auto;
}

.containerHeader{
   display: grid;
   grid-template-columns: 1fr auto;
}

.containerHeader h1:nth-child(1){
   font-size: 20px;
   display: flex;
   justify-content: flex-start;
   align-content: center;
   text-transform: uppercase;
   color: green;
   font-weight: 600;
   padding: 10px;
}

.containerHeader h1:nth-child(2){
   font-size: 20px;
   display: flex;
   justify-content: flex-end;
   align-content: center;
   text-transform: uppercase;
   color: red;
   font-weight: 600;
   border: 1px solid #aeaeae;
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
}

.inputFieldsContainer{
   width: 60%;
   margin: 4% auto;
}

.inputFields{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 30px;
}

.field{
   display: flex;
   flex-direction: column;
}

.field label{
   margin-bottom: 10px;
   font-size: 14px;
}

.field input{
   height: 40px;
   border-radius: 10px;
   border: 1px solid #aeaeae;
   padding: 10px;
}

.field select{
   height: 40px;
   border-radius: 10px;
   border: 1px solid #aeaeae;
   padding: 10px;
}

.submitBtn{
   display: flex;
   justify-content: center;
   align-items: center;
}

.submitBtn button {
   padding: 10px;
   width: 100px;
   border-radius: 10px;
   border: 1px solid #aeaeae;
}

.navigateContainer{
   width: 30%;
   margin: 2% auto;
}

.buttons{
   display: flex;
   justify-content: center;
   align-items: center;
}

.buttons button{
   margin: 10px;
}

.buttons button:nth-child(1){
   width: 100px;
   height: 40px;
   border-radius: 10px;
   background-color: green;
   color: #fff;
   border: none;
}

.buttons button:nth-child(2){
   width: 100px;
   height: 40px;
   border-radius: 10px;
   background-color: red;
   color: #fff;
   border: none;
}