.container {
   margin: 0 auto;
   width: 100%;
}

.mainContent {
   width: 40%;
   margin: 0 auto;
}

.boxes {
   display: grid;
   grid-template-columns: 1fr auto ;
}

.box1 {
   width: 300px;
   height: 300px;
   padding: 10px;
   background-color: #191970;
   transition: transform 0.3s ease-in-out;
   box-shadow: 0.9s ease-in-out;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   cursor: pointer;
}

.box1Icon {
   color: #aeaeae;
}

.box1 h1 {
   font-size: 20px;
   margin: 10px;
   color: orange;
}

.box2 {
   width: 300px;
   height: 300px;
   padding: 10px;
   background-color: #191970;
   transition: transform 0.3s ease-in-out;
   box-shadow: 0.9s ease-in-out;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   cursor: pointer;
}

.box2Icon {
   color: #aeaeae;
}

.box2 h1 {
   font-size: 20px;
   margin: 10px;
   color: orange;
}

.box3 {
   width: 300px;
   height: 300px;
   padding: 10px;
   background-color: #191970;
   transition: transform 0.3s ease-in-out;
   box-shadow: 0.9s ease-in-out;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   cursor: pointer;
}

.box3Icon {
   color: #aeaeae;
}

.box3 h1 {
   font-size: 20px;
   margin: 10px;
   color: orange;
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 100%;
   color: #fff;
}

.box1 .header .details h1 {
   font-size: 20px;
}

.boxes .box1:hover {
   transform: scale(1.05);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.boxes .box2:hover {
   transform: scale(1.05);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.boxes .box3:hover {
   transform: scale(1.05);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
   .container {
      width: 100%;
   }

   .mainContent {
      width: 100%;
      margin: 10% auto;
   }

   .boxes {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 0px;
   }

   .box1 {
      width: 160px;
      height: 160px;
      padding: 0px;
      background-color: #191970;
      transition: transform 0.3s ease-in-out;
      box-shadow: 0.9s ease-in-out;
      margin-bottom: 30%;
      margin-top: 10%;
   }

   .box1 h1{
      font-size: 13px;
      margin: 0px;
      color: orange;
   }

   .box2 h1{
      font-size: 13px;
      color: orange;
   }

   .box3 h1{
      font-size: 13px;
      color: orange;
   }

   .box2 {
      width: 160px;
      height: 160px;
      padding: 0px;
      background-color: #191970;
      transition: transform 0.3s ease-in-out;
      box-shadow: 0.9s ease-in-out;
      margin-bottom: 1%;
      margin-top: 0;
   }

   .box3 {
      width: 160px;
      height: 160px;
      padding: 0px;
      background-color: #191970;
      transition: transform 0.3s ease-in-out;
      box-shadow: 0.9s ease-in-out;
      margin-bottom: 1%;
      margin-top: 0;
   }

}
