.profileContainer {
   width: 77%;
   margin-left: 20%;
   margin-top: 2%;
}

.profileContent {
   margin: 0.5% auto;
   margin-left: 0%;
}

.profileHeader {
   display: grid;
   grid-template-columns: 1fr auto;
}

.profilePageName {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.profilePageName h1 {
   font-family: sans-serif;
   font-size: 1.6em;
}

.profileNavigation {
   display: flex;
   justify-content: center;
   align-items: center;
}

.profileNavigation button {
   margin-right: 20px;
   width: 100px;
   height: 40px;
   border: none;
   color: #0f3834;
   font-weight: 800;
   font-family: sans-serif;
}

.menuIconContainer {
   display: none;
}

.profileDetails {
   width: 100%;
   height: auto;
   margin-top: 5%;
}

.profileItems {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 10%;
}

.profileItems .item {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}

.profileItems .item h1 {
   border: 1px solid #0f3834;
   width: 100%;
   height: 45px;
   border-radius: 5px;
   margin-top: 10px;
   font-size: 1em;
   display: flex;
   justify-content: flex-start;
   padding-left: 10px;
   align-items: center;
   text-transform: uppercase;
}

.loadingContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 9999;
}


@media(max-width:700px) {
   .profileContainer {
      width: 96%;
      margin: 0px auto;
   }

   .profileHeader {
      grid-template-columns: 1fr;
      margin-top: 10px;
   }

   .profilePageName h1 {
      font-size: 1.1em;
   }

   .profileNavigation {
      display: none;
   }

   .menuIconContainer {
      display: grid;
      grid-template-columns: 1fr 1fr auto;
      margin-top: 8%;
   }

   .menuIconContainer .link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
   }

   .menuIconContainer .icon {
      font-size: 1.1em;
   }

   .menuIconContainer h1 {
      font-size: 0.9em;
      font-family: sans-serif;
   }

   .profileItems {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 0px;
      gap: 6%;
   }

   .profileItems .item p {
      font-size: 0.95em;
   }

   .profileItems .item h1 {
      font-size: 0.9em;
      height: 35px;
   }

   .navLinks {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
   }

   .navLinks .links {
      border: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .navLinks .links h1 {
      font-size: 0.9em;
      padding: 5px;
   }

   .navLinks .links:nth-child(7){
      background-color: red;
      color: #fff;
   }

}