.profileContainer {
   width: 77%;
   margin-left: 20%;
   margin-top: 2%;
}

.profileContent {
   margin: 0.5% auto;
   margin-left: 0%;
}

.profileHeader {
   display: grid;
   grid-template-columns: 1fr auto;
}

.profilePageName {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.profilePageName h1 {
   font-family: sans-serif;
   font-size: 1.6em;
}

.profileNavigation {
   display: flex;
   justify-content: center;
   align-items: center;
}

.profileNavigation button {
   margin-right: 20px;
   width: 100px;
   height: 40px;
   border: none;
   color: #0f3834;
   font-weight: 800;
   font-family: sans-serif;
}

.menuIconContainer {
   display: none;
}

.profileDetails {
   width: 100%;
   height: auto;
   margin-top: 5%;
}

.profileItems {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 10%;
}

.profileItems .item {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}

.profileItems .item h1 {
   border: 1px solid #0f3834;
   width: 100%;
   height: 45px;
   border-radius: 5px;
   margin-top: 10px;
   font-size: 1em;
   display: flex;
   justify-content: flex-start;
   padding-left: 10px;
   align-items: center;
   text-transform: uppercase;
}

.verifyContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15%;
}

.verifyInput {
   display: flex;
   justify-content: center;
   align-items: center;
}

.verifyInput input {
   width: 100%;
   text-align: center;
   height: 30px;
   background-color: #0f3834;
   color: #fff;
   border: none;
}

.verifyButton {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

.verifyButton button {
   margin-left: 10px;
   width: 100%;
   height: 30px;
}

@media(max-width:700px) {
   .profileContainer {
      width: 96%;
      margin: 0 auto;
   }

   .profileHeader {
      grid-template-columns: 1fr;
   }

   .profilePageName h1 {
      font-size: 1.4em;
   }

   .profileNavigation {
      display: none;
   }

   .menuIconContainer {
      display: grid;
      grid-template-columns: 1fr 1fr auto;
      margin-top: 6%;
   }

   .menuIconContainer .link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
   }

   .menuIconContainer .icon {
      font-size: 1.1em;
   }

   .menuIconContainer h1 {
      font-size: 1em;
      font-family: sans-serif;
   }

   .verifyContainer {
      display: none;
   }

   .profileItems {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 0px;
      gap: 6%;
   }

   .varifyStudentContainer{
      margin-top: 15px;
   }

   .inputField input{
      height: 30px;
   }

   .submitButton{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8px;
   }
}